<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="../static/css/busqueda.css">
    <script type="module" src="../static/js/appIndex.js"></script>
</head>

<body>
    <div class="sidebar">
        <div class="menu-icon">
            &#9776;
        </div>

        <img class="iconMenu" src="../static/imagenes/medico.png">
        <img class="iconMenu" src="../static/imagenes/nuevo.png">
        <img class="iconMenu" src="../static/imagenes/vacuna.png">
        <img class="iconMenu" src="../static/imagenes/calendario.png">


    </div>
    <div class="content">
        <div class="top-row">
            <img style="width: -webkit-fill-available;" src="../static/imagenes/gato2.jpeg">
        </div>
        <div class="bottom-row">
            <div class="icon-container">
                <div class="iconMenusContainer">
                    <img class="iconMenus" src="../static/imagenes/medico.png">
                    <div class="tittles">Historia clinica</div>
                    <form class="sizeFont">
                        <input type="text" id="username" name="username" required>
                        <br>
                        <button id="btnBuscarHistoria" type="reset">Buscar</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button id="btnRegresarHistoria" type="reset">Regresar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>

</html>