<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>historia Clinica</title>
    <link rel="stylesheet" href="../static/css/historiaClinica.css">
    <script type="module" src="../static/js/appIndex.js"></script>
</head>

<body>
    <div class="sidebar">
        <div class="menu-icon">
            &#9776;
        </div>

        <img class="iconMenu" src="../static/imagenes/medico.png">
        <img class="iconMenu" src="../static/imagenes/nuevo.png">
        <img class="iconMenu" src="../static/imagenes/vacuna.png">
        <img class="iconMenu" src="../static/imagenes/calendario.png">


    </div>
    <div class="content">
        <div class="top-row">
            <img style="width: -webkit-fill-available;" src="../static/imagenes/gato2.jpeg">
        </div>
        <div class="bottom-row">

            <div style="display: flex; margin: 2.35%;">
                <img style="height: 50px;" src="../static/imagenes/iconDog.png">

                <body>
                    <table>
                        <tr>
                            <th>Nombre</th>
                            <td class="spacer"></td>
                            <th>Talla</th>
                            <td class="spacer"></td>
                            <th>Peso</th>
                            <td class="spacer"></td>
                            <th>Raza</th>
                            <td class="spacer"></td>
                            <th>Edad</th>
                        </tr>
                        <tr>
                            <td>Kaiser Romero</td>
                            <td class="spacer"></td>
                            <td>30 cm</td>
                            <td class="spacer"></td>
                            <td>5 kg</td>
                            <td class="spacer"></td>
                            <td>Labrador</td>
                            <td class="spacer"></td>
                            <td>3 años</td>
                        </tr>
                    </table>
                </body>
            </div>

            <body>
                <table style="margin-left: 8%;">
                    <tr>
                        <th>Propietario</th>
                        <td class="spacer"></td>
                        <th>Contacto</th>
                    </tr>
                    <tr>
                        <td>Rosa Azucena Romero Hernández</td>
                        <td class="spacer"></td>
                        <td>3102239468</td>
                    </tr>
                </table>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>Fecha Ingreso</th>
                            <th>Descripción Ingreso</th>
                            <th>Tratamiento</th>
                            <th>Fecha Salida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10-Sep-2023</td>
                            <td>Deshidratación aguda</td>
                            <td>Rehidratación con suero</td>
                            <td>11-Sep-2023</td>
                        </tr>
                    </tbody>
                </table>
                <div class="iconMenusContainer">
                    <br>
                    <br>
                    <button id="btnClinicaRegresar" class="boton-redondeado" type="reset">Regresar</button>
                </div>
            </body>
        </div>
    </div>
</body>

</html>