<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <script type="module" src="../static/js/appIndex.js"></script>
</head>

<body>
    <div class="container">
        <div class="section">
            <img src="../static/imagenes/perro1.jpeg" alt="Un lindo perro">
        </div>
        <div class="container1">
            <div class="tittleOne">VETERINARIA MASCOTAS

                <body>
                    <form action="/consult_user_login" method="post">
                        <label for="username">Usuario:</label>
                        <input id="username" name="username">
                        <br>
                        <label for="password">Contraseña:</label>
                        <input id="password" name="password">
                        <br>
                        <button id="btnLoginIngresar" class="boton-redondeado" type="submit">Ingresar Registrar</button>
                    </form>
                </body>
            </div>
        </div>
        <div class="section">
            <img src="../static/imagenes/perro.webp" alt="Un lindo perro">
        </div>
    </div>
</body>

</html>