<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="../static/css/menu.css">
    <script type="module" src="../static/js/appIndex.js"></script>
</head>

<body>
    <div class="sidebar">
        <div class="menu-icon">
            &#9776;
        </div>

        <img class="iconMenu" src="../static/imagenes/medico.png">
        <img class="iconMenu" src="../static/imagenes/nuevo.png">
        <img class="iconMenu" src="../static/imagenes/vacuna.png">
        <img class="iconMenu" src="../static/imagenes/calendario.png">


    </div>
    <div class="content">
        <div class="top-row">
            <img style="width: -webkit-fill-available;" src="../static/imagenes/gato2.jpeg">
        </div>
        <div class="bottom-row">
            <div class="icon-container">
                <div class="iconMenusContainer">
                    <a title="Historia Clínica" href="../templates/buscarHistoria.html"><img class="iconMenus"
                            src="../static/imagenes/medico.png" alt="Historias clínicas" /></a>
                    <div class="tittles">Historias clínicas</div>
                </div>
                <div class="iconMenusContainer">
                    <img class="iconMenus" src="../static/imagenes/nuevo.png">
                    <div class="tittles">Nuevo paciente</div>
                </div>
                <div class="iconMenusContainer">
                    <img class="iconMenus" src="../static/imagenes/vacuna.png">
                    <div class="tittles">Esquemas de Vacunación</div>
                </div>
                <div class="iconMenusContainer">
                    <img class="iconMenus" src="../static/imagenes/calendario.png">
                    <div class="tittles">Agenda</div>
                </div>
            </div>
            <div class="iconMenusContainer">
                <br>
                <br>
                <button id="btnMenuRegresar" class="boton-redondeado" type="reset">Regresar</button>
            </div>
        </div>
    </div>
</body>

</html>