<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" type="text/css" href="../static/css/portal.css">
    <script type="module" src="../static/js/appPortal.js"></script>
</head>

<body>
    <div class="container">
        <div class="section">
            <img src="../static/imagenes/perro1.jpeg" alt="Un lindo perro">
        </div>
        <div class="container1">
            <form action="/login_page" method="post">
                <div class="tittleOne">VETERINARIA MASCOTAS
                    <p class="conte">Servicio de médico veterinario para perros y gatos: </p>
                    <p class="conte">- Citas Médicas</p>
                    <p class="conte">- Spa Mascotas</p>
                    <p class="conte">- Guarderia</p>
                    <button id="btnIngresar" class="boton-redondeado" type="submit">Ingresar</button>
                </div>
            </form>
        </div>
        <div class="section">
            <img src="../static/imagenes/perro.webp" alt="Un lindo perro">
        </div>
    </div>
</body>

</html>